<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Routing & Navigation
  </h1>
  <br>
</div>
<hr>

<div class="container">

  <ul class="nav navbar-nav item">

      <li>
          <a [routerLink]="['/']" routerLinkActive="active">Home</a>
      </li>

      <li>
          <a [routerLink]="['/match-schedule']" routerLinkActive="active">Schedule</a>
      </li>

  <li>
      <a [routerLink]="['/team-roster']" routerLinkActive="active">Saints Team Roster</a>
  </li>
  
</ul>

<br>
</div>
<hr>
<br>
<router-outlet></router-outlet>

<!-- <app-match-schedule></app-match-schedule>

<app-team-roster></app-team-roster> -->